{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}}

{% block content %}

<div class="container mt-4">

    {% include "components/page_header.html" with icone=icone titulo=titulo descricao=descricao %}

    <form method="post">

        {% csrf_token %}

        <div class="row">

            <div class="col-md-8">
                {% include "components/form_field.html" with field=form.razao_social %}
            </div>

            <div class="col-md-4">
                {% include "components/form_field.html" with field=form.cnpj %}
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                {% include "components/form_field.html" with field=form.nome_fantasia %}
            </div>

            <div class="col-md-4">
                {% include "components/form_field.html" with field=form.inscricao_estadual %}
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                {% include "components/form_field.html" with field=form.telefone %}
            </div>

            <div class="col-md-8">
                {% include "components/form_field.html" with field=form.email %}
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                {% include "components/form_field.html" with field=form.observacao %}
            </div>
        </div>
        

        <div class="form-check mb-3">
            {{ form.ativo }}
            <label class="form-check-label">
                {{ form.ativo.label }}
            </label>
        </div>

        <div class="mt-4 mb-5">

            <button
                type="submit"
                class="btn btn-primary">

                <i class="bi bi-floppy"></i>
                Salvar

            </button>

            <a
                href="{% url 'cadastros:empresa_list' %}" class="btn btn-secondary"
                class="btn btn-secondary">

                <i class="bi bi-x-circle"></i>
                Cancelar

            </a>

        </div>

    </form>

</div>

{% endblock %}