{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<div class="container mt-4">

    {% include "components/page_header.html" with icone=icone titulo=titulo descricao=descricao %}

    <form method="post">

        {% csrf_token %}

        {% include "components/form_field.html" with field=form.nome %}

        {% include "components/form_field.html" with field=form.descricao %}

        <div class="mt-3">

            {% if excluir %}

                <div class="alert alert-warning">
                    Tem certeza que deseja excluir a função
                    <strong>{{ funcao.nome }}</strong>?
                </div>

                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash"></i>
                    Excluir
                </button>

                <a href="{% url 'cadastros:funcao_list' %}"
                   class="btn btn-secondary">
                   <i class="bi bi-x-circle"></i>
                    Cancelar
                </a>

            {% else %}

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-floppy"></i>
                    Salvar
                </button>

                <a href="{% url 'cadastros:funcao_list' %}"
                   class="btn btn-secondary">
                   <i class="bi bi-x-circle"></i>
                    Cancelar
                </a>

            {% endif %}

        </div>

    </form>

</div>

{% endblock %}