:root {

    /* Cores da identidade */

    --color-primary: #267F49;
    --color-primary-dark: #1E653A;
    --color-primary-light: #4FA36E;

    --color-background: #F8F9FA;
    --color-surface: #FFFFFF;

    --color-text: #343A40;
    --color-text-muted: #6C757D;

    --color-warning: #FFC107;
    --color-danger: #DC3545;

}

body{
    background: var(--color-background);
    color: var(--color-text);
}

.navbar-custom{
    background: var(--color-primary);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link{
    color:white;
}

.navbar-custom .nav-link:hover{
    color:#EAF6EE;
}

.footer-custom {
    background-color: var(--color-primary);
    color: #ffffff;
}

.footer-custom small {
    font-size: 0.9rem;
}

/* ===== Usuário na Navbar ===== */

.navbar-custom .dropdown-toggle {
    color: #ffffff !important;
}

.navbar-custom .dropdown-toggle:hover {
    color: #EAF6EE !important;
}

.navbar-custom .dropdown-toggle:focus,
.navbar-custom .dropdown-toggle.show {
    color: #ffffff !important;
}

.card-body{

    padding:2rem;

}