{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1">

    <title>
        {% block title %}Gestão de Transportes{% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column min-vh-100">

    {% if user.is_authenticated %}
        {% include "components/navbar.html" %}
    {% endif %}

    {% if user.is_authenticated %}
        <main class="container mt-4 flex-grow-1">
    {% else %}
        <main class="container flex-grow-1 d-flex align-items-center justify-content-center">
    {% endif %}


        {% include "components/messages.html" %}

        {% block content %}
        {% endblock %}

    </main>

    <footer class="navbar-custom text-white py-2 mt-auto">
        <div class="container d-flex justify-content-between">

            <span>Gestão de Transportes © 2026</span>

            <span>Sistema de Prestação de Contas</span>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>